<p>Enter your name</p>
<input type="text" [(ngModel)]="name"> 
<table>
  <tr>
    <th class="name">
      {{name}}
    </th>
    <th>
    	<app-score></app-score>
    </th>
    <th>
      <app-score></app-score>
    </th>
    <th>
      <app-score></app-score>
    </th>
    <th>
      <app-score></app-score>
    </th>
    <th>
      <app-score></app-score>
    </th>
    <th>
      <app-score></app-score>
    </th>
    <th>
      <app-score></app-score>
    </th>
    <th>
      <app-score></app-score>
    </th>
    <th>
      <app-score></app-score>
    </th>
    <th>
      <app-score></app-score>
    </th>
  </tr>
</table>